Brie {
    steamgriddb_token: None,
    paths: Paths {
        steam_config: None,
        sunshine: None,
        desktop: None,
    },
    units: {
        "native": Native(
            NativeUnit {
                common: UnitCommon {
                    name: Some(
                        "Steam: Big Picture Mode",
                    ),
                    steamgriddb_id: Some(
                        2332,
                    ),
                    cd: None,
                    command: [
                        "flatpak",
                        "run",
                        "com.valvesoftware.Steam",
                    ],
                    env: {},
                    generate: Generate {
                        sunshine: true,
                        desktop: false,
                        steam_shortcut: false,
                    },
                    wrapper: [
                        "gamemoderun",
                        "mangohud",
                    ],
                },
            },
        ),
        "witcher3": Wine(
            WineUnit {
                common: UnitCommon {
                    name: Some(
                        "The Witcher 3",
                    ),
                    steamgriddb_id: Some(
                        8093,
                    ),
                    cd: Some(
                        "/mnt/files/Games/The Witcher 3 Wild Hunt/bin/x64/",
                    ),
                    command: [
                        "witcher3.exe",
                        "--help",
                    ],
                    env: {
                        "MANGOHUD_CONFIG": "no_display,vram,gpu_temp,gpu_core_clock,frametime",
                        "DXVK_CONFIG_FILE": "/home/user/.config/play.sh/dxvk.conf",
                        "DXVK_ASYNC": "1",
                        "DXVK_ENABLE_NVAPI": "1",
                        "WINE_HIDE_NVIDIA_GPU": "0",
                        "WINEESYNC": "0",
                        "VKDED_CONFIG": "dxr",
                    },
                    generate: Generate {
                        sunshine: true,
                        desktop: true,
                        steam_shortcut: false,
                    },
                    wrapper: [
                        "gamemoderun",
                        "mangohud",
                    ],
                },
                prefix: None,
                winetricks: [
                    "vcrun2015",
                ],
                mounts: {
                    'd': "/etc",
                },
                before: [],
                runtime: GeProton {
                    version: Tag(
                        "7",
                    ),
                },
                libraries: {
                    DxvkNvapi: Latest,
                    DxvkGplAsync: Latest,
                    Vkd3dProton: Latest,
                },
            },
        ),
    },
}
